<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" th:href="@{/login.css}">
	<script th:src="@{/login.js}" defer></script>
	<title>ChatAPP</title>
</head>
<body>
<div class="container">
	<div class="form">
		<h2>Login</h2>
		<form>
			<div class="form-group">
				<label for="email">Email:</label>
				<input type="text" id="email" name="email" required>
			</div>
			<div class="form-group">
				<label for="password">Password:</label>
				<input type="password" id="password" name="password" required>
			</div>
			<div class="form-group">
				<button type="submit" onclick="authenticate()">Login</button>
			</div>
			<div class="links">
				<a href="register">Register</a>
				<a href="forgot-password">Forgot password?</a>
			</div>
		</form>
	</div>
</div>
</body>
</html>
